.news-detail p {
  margin: 0;
}

.news-detail .news-container {
  max-width: 900px;
  padding: 40px;
  margin: 0px auto;
}

.news-detail .news-card {
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}

.news-detail h1 {
  margin-top: 0;
}
